<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.james">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="com.android.vending.BILLING" />-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".config.FirebaseConfig"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon_png"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DrawerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".FoodActivity" />
        <activity android:name=".DrinkActivity" />
        <activity android:name=".ShoppingCartActivity" />
        <activity android:name=".TabletMenuActivity" />
        <activity android:name=".PaymentActivity" />
        <!-- <activity android:name=".DrawerActivity"/> -->
        <!--<meta-data-->
            <!--android:name="com.google.android.gms.wallet.api.enabled"-->
            <!--android:value="true" />-->

        <activity android:name=".TodosOverviewActivity" />
        <activity android:name=".TodoDetailActivity"/>
        <provider
            android:name=".contentprovider.MyTodoContentProvider"
            android:authorities="com.hfad.james.contentprovider" >
        </provider>

        <receiver android:name="SimpleWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/simple_widget_info" />
        </receiver>

    </application>

</manifest>
